*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
Operators/*.iml
Operators/.idea
Operators/out
ArraysAndLoops/*.iml
ArraysAndLoops/.idea
ArraysAndLoops/out
StringAndRegex/*.iml
StringAndRegex/.idea
StringAndRegex/out
Classes/Planner/.idea
Classes/Planner/*.iml
Classes/Planner/.*xml
Classes/Planner/target
Classes/Planner/src/test
Classes/Planner/src/main/resources
Generics/Planner/.idea
Generics/Planner/*.iml
Generics/Planner/.*xml
Generics/Planner/target
Generics/Planner/src/test
Generics/Planner/src/main/resources